<!doctype html>
<html>
<head>
    <title>Manager's Log In Page</title>
</head>
<body>
<form method="POST" action="">
    <center>
    <H3> Manager Login </H3> <br>
    Airport <input type = "text" name= "airport" /> <br>
    SSN <input type = "password" name= "ssn" /> <br>
    <input type = "submit" name="btn" value="Manager Login">
    </center>
</form>
<center>
    <!--
<table>
{% for item in data %}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    ...
</tr>
{% endfor %}
</table>
-->
    <p>{{message}}</p>
</center>

</body>
</html>
